<div class="navbar" id="navbar">
  <div class="title">
    <a href="javascript:void(0);" style="font-size:30px;" class="icon" target="_self" onclick="myFunction()">+ </a>
    <a href="index.html" target="_self" onclick="close_nav()" style="text-decoration: none; color: black;"> 
      Vikram Manikantan
    </a>
  </div>

  <div class="links" id="links">
    <a href="research.html" target="_self" onclick="close_nav()">Research</a>
    <a href="teaching.html" target="_self" onclick="close_nav()">Teaching</a>
    <a href="music.html" target="_self" onclick="close_nav()">Outreach/Sports/Music</a>
    <a href="contact.html" target="_self" onclick="close_nav()">Contact</a>
  </div>
</div>
