@import url("https://use.typekit.net/sdh6jxb.css");

*, html {
	scroll-behavior: smooth !important;
	scroll-margin-top: 0px;
  }



/* root */
:root{
	--white: white;
	--black: black;

	--arizona-red:#AB0520;
    --arizona-blue:#0C234B;

    --bloom: #EF4056;
    --sky: #81D3EB;
    --leaf: #70B865;
    --river: #007D84;
    --mesa: #A95C42;

    --chili: #8B0015;
    --midnight: #001C48;
    --azurite: #1E5288;
    --oasis:#378DBD;

	--warmgrey: #F4EDE5;
    --coolgrey: #E2E9EB;

	/* --base03: #001613; */
	--base03: #000000;
	--base02: #073642;
	--base01: #586e75;
	--base00: #657b83;
	--base0: #839496;
	--base1: #93a1a1;
	--base2: #eee8d5;
	--base3: #fdf6e3;

	--textvdark: var(--base3);
	--textdark: var(--base3);
	--textmed: var(--base1);

	--highlight-dark:rgb(225, 16, 121, 0.3);
	--highlight-light: yellow;

	--animation-type: ease-in-out;
	--time-animate: 3s;

	font-family: "garamond-premier-pro-display", serif;

	font-weight: 300;
	font-style: normal;

	line-height: 1.23;

	padding: 0;
	margin: auto;
}

body{
	padding: 0px;
	margin: 0px;
}

/* text */
p{
	font-size: 24px;
	font-weight: 300;
	font-style: normal;

	margin-top: 0;
}

ol{
	font-size: 24px;
	font-weight: 300;
	font-style: normal;
}

h1{
	font-size: 52px;
	font-weight: 300;
	font-style: normal;
}

h2{
	font-size: 40px;
	font-weight: 300;
	font-style: normal;
	/* margin-top: 10px; */
}

h3{
	font-size: 30px;
	font-weight: 300;
	font-style: normal;
}

a{
	color: var(--black);
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 3.5px;
}

a:hover{
	text-decoration: none;
}

sup{
	font-size: 8px;
}
/* text end */

img{
	border-radius: 1%;
}


/* grid for the entire website */
.grid-container {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	column-gap: 0%;
	background-color: white;

	row-gap: 20px;
	padding: 0px;
	margin: 0px;
}
  
.grid-container > div {
	background-color: white;
	text-align: left;
	grid-column: span;
	padding: 0px 0px;
}


/* start navbar */
div.navbar {
	width: 70%;
	min-width: 1000px;
	margin: 0 auto;

	position: fixed;
	left: 0;
	right: 0;

	/* existing code untouched below */
	background-color: rgba(255, 255, 255, 0.9);
	display: grid;
	grid-template-columns: 40% 44% 12%;
	row-gap: 20px;
	column-gap: 2%;
	padding: 10px;
	top: 0px;
	align-items: center;
	line-height: 200%;
}

/* drop down menu icon */
.navbar .icon {
	display: none;
	text-decoration: none;
	color: black;
}

/* title/name in the top left */
.navbar .title{
	grid-column: 1;
	text-align: left;
	font-size: 28px;
	display: flex;
	align-items: left;

	padding-left: 10px;
}

/* page links */
.links {
	grid-column: 2;
	display: flex;
	align-items: right;
	justify-content: right;

	font-size: 25px;
}

/* link formatting */
.links a{
	margin: 0px 20px;
	text-decoration: none;
	color: black;
}

/* hover formatting */
.links a:hover{
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
}
/* end nav bar */

/* start footer */
div.footer{
	width: 100%;
	/* grid-column: span 3; */
	background-color: white;
	color: black;

	text-align: center;
	justify-content: bottom;

	padding: 0px;
	bottom: 0px;
	align-items: center;

	min-height: 50px;
}

div.landing{
	grid-column: 2;

	margin-top: 100px;
	min-height: 85vh;

	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	justify-content: center; /* Align items to the left */
	align-items: center; /* Optionally center items vertically */
}

.landing div{
	text-align: right;
	width: 50%;
	min-width: 375px;
}

div.landing a{
	text-decoration: none;
}

.landing a:hover{
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
}

div.section{

	grid-column: 2;
	text-align: left;

	padding-top: 50px;
	/* min-height: 80vh; */

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	align-items: flex-start;
	justify-content: flex-start;
}


/* .section h1, .section .content, .section .image{
	background-color: #fff;
} */

/* subtitles have 100% width, so nothing is inline with it */
.section h1{
	width: 100%;
	height: fit-content;
	margin-bottom: 10px;
	/* margin: 0px; */
}

.section div.content{
	width: 60%;
	min-width: 375;
	padding-top: 0;
}

.section .image{
	width: 40%;
	min-width: 300px;
	display: flex;          /* Make .image a flex container */
	justify-content: center;  /* Horizontally center */
	align-items: center; 

	margin-bottom: 30px;
}

.section div.square{
	width: 30%;
	min-width: 375px;
	margin: auto;
	margin-top: 0;

}

.mosaic {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* Default: 4 equal columns */
	grid-template-rows: auto auto 400px;
	gap: 5px;
}

.mosaic img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* Large images span more columns and rows for the mosaic effect */
.mosaic .large {
	grid-column: span 2;
	grid-row: span 2;
}

.mosaic .tall {
	grid-row: span 2;
}

.mosaic .wide {
	grid-column: span 2;
}

  /* Responsive design for mobile devices */
@media (max-width: 768px) {
	.mosaic {
		grid-template-columns: 1fr; /* 2 columns on smaller screens */
	}

	.large .tall .wide{
		grid-column: span 1;
		grid-row: span 1;
	}
}


@media screen and (max-width: 900px) {
	/* For mobile phones: */
	.navbar .icon {
		display:block;
		width: 50px;
	}

	.navbar .title{
		grid-column: span 3;
		text-align: center;
		padding-left: 0px;
	}

	.navbar .links {
		display: none;
	}

	.navbar .responsive{
		grid-column: span 3;
		display: block;
		align-items: center;
	}

	.navbar .responsive a{
		display: block;
		text-align: left;
		width: 100vw;
		height: 50px;
	}

	.section .image{
		width: 100%;
		min-width: 300px;

		align-items: center;
		justify-content: center;
	}

	.section div.content{
		max-width: none;
		min-width: none;
		width: 100%; 
		margin: auto;
	}

	.section div.square{
		width: 100%;
		margin: auto;
	}
	
}

/* end basic settings */