@import url('https://fonts.cdnfonts.com/css/menlo');
@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");
@import url("https://use.typekit.net/emv3zbo.css");
@import url("https://fonts.googleapis.com/css?family=Fira Code");

@font-face{
	font-family: hershey-light;
	src: url(../webfonts/AVHersheySimplexLight.ttf)
}

@font-face{
	font-family: hershey-medium;
	src: url(../webfonts/AVHersheySimplexMedium.ttf)
}

@font-face{
	font-family: hershey-heavy;
	src: url(../webfonts/AVHersheySimplexHeavy.ttf)
}

html {
	scroll-behavior: smooth;
	scroll-margin-top: 100px;
  }


/* defining base colors */
:root{
	--white: white;
	--base03: #000 ; /* #001613; /* 002b36 */
	--base02: #073642;
	--base01: #586e75;
	--base00: #657b83;
	--base0: #839496;
	--base1: #93a1a1;
	--base2: #eee8d5;
	--base3: #fdf6e3;
	--black: black;

	--textvdark: #ffffff;
	--textdark: #ffffff;
	--textmed: #586e75;
}

/* Reset everything first */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

/* Basic Settings */

body, input, select, textarea, footer, header {
	color: var(--white);
	background-color: #000;
	font-family: 'Fira Code'; 
	font-size: 20pt;
	font-weight: 400;
	line-height: 1.75em;

	margin:auto; 
	max-width: 100vw;
}

body{
	padding-top: 30px;
	padding-bottom: 30px;

	align-items: center;
}




/* LINK SETTINGS */

a {
	text-decoration: none
}

/* unvisited link */
a:link {
	color: var(--black);
	background-color: none;
	text-decoration: none;
}

a:hover {
	color: var(--base1);
	background-color: transparent;
	text-decoration: none;
}

/* NAV BAR SETTINGS */

.navbar {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	position: fixed;
	top: -100px; /* Hide the navbar 50 px outside of the top view */
	transition: top 0.3s; /* Transition effect when sliding down (and up) */
	padding-top: 0px;

	max-width: 100vw;
	width: 100vw; /* Full width */

	box-shadow: 0 5px 0 var(--white);
	outline-style: solid;
	outline-width: 0px;
	outline-color: var(--base03);
	background-color: var(--base03);

	z-index: 5;
  }

/* Style the navbar links */
.navbar > a{

	background-color: var(--base03);

	display: block;

	color: var(--white);
	width: 120px;
	margin: 0;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 0px;
	text-align: center;
	line-height: 40px;
	font-size: 18px;


}

.navbar a:hover {
	background-color: #fff;
	color: var(--base03);
	/* filter: invert(1); */
}


/* creating a grid for the main content: 3 columns, column 1 and 3 are just for spacing. Content is in column 2 */
.main {
	padding-top: 10px;

	display: grid;
	column-count: 3;
	grid-template-columns: 10vw 80vw 10vw;

	gap: 0px 0px;

	width: 100vw;

	position: relative;
	min-height: 85vh;
	background-color: #000;
}

/* defining flexboxes for each row */
.main > div.row{

	grid-row-start: auto;
	grid-row-end: auto;
	grid-column-start: 2;
	grid-column-end: 2;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: flex-start;
	align-content: top;
	margin: 0;

	padding: 0;

	width: 80vw;
	height: calc(100vh - 120px);
	background-color: none;
}

/* design for columns, one white one black */
div.row.white{
	background-color:#fff;
	padding-top: 30px;
}

div.row.black{
	background-color:#000;
	padding-top: 30px;
}

/* between each row, a small break such that navbar doesn't hide the subheadings */
div.row.break{
	align-items: center; 
	justify-content: center; 
	height: 50px;
	width: 100vw;
	grid-column-start: 1;
	grid-column-end: 3;
}


/* filling in the left and right columns */
div.row.left{
	grid-row-start: auto;
	grid-row-end: auto span 1;
	grid-column-start: 1;
	grid-column-end: 1;

	padding-top: 30px;
	height: calc(100vh - 120px);
	width: 10vw;

	background-color: #fff;
}

div.row.right{
	grid-row-start:inherit;
	grid-row-end: auto span 1;
	grid-column-start: 3;
	grid-column-end: 3;

	padding-top: 30px;
	height: calc(100vh - 120px);
	width: 10vw;

	background-color: #fff;
}

/* might have to add another row element here such that the first one is the background, and the second one actually contains all the content */

/* defining each item within the flexbox */
.row > div{

	margin: 0;
	padding: 0;
	text-align: left;
	line-height: 75px;
	font-size: 30px;

	background-color: inherit;
}


/* TEXT FORMATTING */

h1{
	font-size: 30px;
	font-weight: 700;
	background-color: var(--white);

	color: var(--base03);

	padding-left: 10px;
	padding-right: 10px;

	transform: skewX(-10deg);

	margin: auto; 
	height: 80px;
	width:fit-content;
}

p{
	font-size: x-large;
	padding: 20px;
}

div.footer{
	color:  var(--base3);
	font-size: 140%;
	page-break-before: always;
	padding-bottom: 0px;
	text-align: center;

	position: absolute;
	bottom: 0;

	background-color: var(--base3);

	width: 100%;
	height: 2.5rem;
}

a.copyright{
	color:  var(--base2);
	font-size: 100%;
	break-before: always;
	text-align: center;

	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}


/* narrow screens */
@media screen and (max-width: 1130px) {
	body {
		margin:auto; 
		max-width: 100vw;
	}

	.main > div.row{

		
	}

	.row > div{

	}
}

@media screen and (max-width: 780px) {
	/* For mobile phones: */
}

.blinking-cursor {

	font-weight: 800;
	font-size: 100%;
	color: #fff;
	margin-left: 0px;

	-webkit-animation: 3s blink ease-in-out infinite;
	-moz-animation: 3s blink ease-in-out infinite;
	-ms-animation: 3s blink ease-in-out infinite;
	-o-animation: 3s blink ease-in-out infinite;
	animation: 3s blink ease-in-out infinite;
}


@keyframes blink {
	0% {
		color: #fff;
	}
	50% {
		color: transparent;
	}
}
