@import url('https://fonts.cdnfonts.com/css/menlo');
@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

:root{
	--white: white;
	--base03: #002b36;
	--base02: #073642;
	--base01: #586e75;
	--base00: #657b83;
	--base0: #839496;
	--base1: #93a1a1;
	--base2: #eee8d5;
	--base3: #fdf6e3;
	--black: black;

	--textvdark: #002b36;
	--textdark: #073642;
	--textmed: #586e75;
}

/* Reset everything first */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

/* Basic Settings */

body {
	background: var(--light);
}

	body.is-preload *, body.is-preload *:before, body.is-preload *:after {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

body, input, select, textarea, footer, header {
	color: var(--textdark);
	background-color: var(--base3);
	font-family: menlo; 
	font-size: 12pt;
	font-weight: 400;
	line-height: 1.75em;

	margin:auto; 
	max-width: 900px;
}

body{
	padding-top: 30px;
	padding-bottom: 30px;
}

p.shifted {
    margin-left: 0px;
}



h1, h2, h3, h4, h5, h6 {
	color: var(--textvdark);
	font-weight: 700;
	line-height: 1em;
	margin: 0 0 0.5625em 0;
}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		border: 0;
		color: inherit;
		text-decoration: none;
	}

h1 {
	font-size: 2.6em;
	line-height: 1.5em;
}

h2 {
	font-size: 1.5em;
	line-height: 1.5em;
}

h3 {
	font-size: 1.25em;
	line-height: 1.5em;
}

h4 {
	font-size: 1.0em;
	line-height: 1.5em;
}

h5 {
	font-size: 0.7em;
	line-height: 1.5em;
}

h6 {
	font-size: 0.4em;
	line-height: 1.5em;
}

p	{
	color: #657b83;
}




/* LINK SETTINGS */

a {
	text-decoration: none
}

/* unvisited link */
a:link {
	color: #C92C46;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:visited {
	color: #C92C46;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:hover {
	color: darkmagenta;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:active {
	color: black;
	background-color: transparent;
	text-decoration: none;
  }

/* IMAGE SETTINGS */

img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 50%;
}



/* Feature Icons */

ul.feature-icons {
	list-style: none;
	padding-left: 0;
}

	ul.feature-icons li {
		text-decoration: none;
		display: inline-block;
		margin: 0 0 1.6875em 0;
		padding: 0.35em 0 0 3.5em;
		position: relative;
		vertical-align: top;
		width: 48%;
	}

		ul.feature-icons li:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		ul.feature-icons li:before {
			background: #0F084B;
			border-radius: 100%;
			color: var(--light);
			display: block;
			height: 2.5em;
			left: 0;
			line-height: 2.5em;
			position: absolute;
			text-align: center;
			top: 0;
			width: 2.5em;
		}

/* Icons */

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

	ul.icons li {
		display: inline-block;
		padding: 0 1em 0 0;
	}

		ul.icons li:last-child {
			padding-right: 0 !important;
		}

		ul.icons li .icon:before {
			font-size: 1.25em;
		}

		#header > footer .icons {
			margin: 0;
		}

		#header > footer .icons li a {
			/* changing the color of the icons in the header*/
			color: var(--light);
		}

		ul.feature-icons li {
			display: block;
			width: 100%;
		}

	#container{
		/*Styling for any element with the id="container" */
			width:80%; /* The width is fixed by pixels */
	}

p {
	color: var(--textdark);

}

hr {
	height: 1px;
	background-color: var(--base2);
	border: none;
	margin-top: 20px;
}


small {
	font-size: 90%;
}

xsmall {
	font-size: 70%;
}

large {
	font-size: 150%;
	font-weight: 600;
}

legacy {
	font-size: 100%;
	color: var(--textmed);
}

.body-link:hover { color: darkmagenta; }

div.main {
	margin:auto; 
	max-width: 1000px;
}

div.footer{
	color:  var(--base2);
	font-size: 140%;
	page-break-before: always;
	padding-top: 15px;
	text-align: center;
}

div.copyright{
	color:  var(--base2);
	font-size: 100%;
	break-before: always;
	text-align: center;
}

nav {
	margin:auto;
	text-align: center;
	padding-bottom: 20px;
}

img{
	float: right;
}

@media screen and (max-width: 1130px) {
	body {
		margin:auto; 
		max-width: 600px;
	}

	div.footer{
		color:  var(--base2);
		font-size: 140%;
		page-break-before: always;
	}
}

@media screen and (max-width: 780px) {
	/* For mobile phones: */

	body {
		background-color: var(--base3);
		font-size: 12pt;

		margin:auto; 
		max-width: 380px;
	}

	nav {
		margin:auto;
		text-align: center;
	}
	
	
	h1, h2, h3, h4, h5, h6 {
		color: var(--textvdark);
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 0.5625em 0;
	}

	h1.img{
		margin:auto;
	}

	small {
		font-size: 100%;
	}
	
	xsmall {
		font-size: 70%;
	}
	
	large {
		font-size: 140%;
		font-weight: 600;
	}

	xlarge {
		font-size: 160%;
		font-weight: 700;
	}
	
	legacy {
		font-size: 12pt;
		color: var(--textmed);
	}

	div.main {
		margin:auto; 
		max-width: 500px;
	}

	div.footer{
		color:  var(--base2);
		font-size: 180%;
		max-width: 300px;
		page-break-before: always;
		text-align: center;
	}

	nav{
		font-size: 130%;
	}

	img{
		float: none;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;

		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	h1{
		margin-top: 15px;
		margin-bottom: 15px;

		text-align: center; 
		margin: auto;
		width: 100%;
	}

	p.intro{
		text-align: center;
	}

	
}